body {
margin :0;
padding :0;
background-color: #FFE4E1;

}
.box {
width : 450px;
background :rgba(0,0,0,0.4);
padding:80px;
text-align: center;
margin: auto;
margin-top :5%;
color : black;
font-family :"Arial" , sans-serif;
background-color :#CD5C5C;
}

.lang{
width : 350px;
background :rgba(0,0,0,0.3);
padding:30px;
text-align: center;
margin: auto;
margin-top :5%;
color : black;
font-family : "Century Gothic" , sans-serif;
background-color :#BC8F8F;
}
.tran{
width : 350px;
background :rgba(0,0,0,0.3);
padding:30px;
text-align: center;
margin: auto;
margin-top :5%;
color : black;
font-family : "Century Gothic" , sans-serif;
background-color :#BC8F8F;

}
.db{
width : 350px;
background :rgba(0,0,0,0.3);
padding:30px;
text-align: center;
margin: auto;
margin-top :5%;
color : black;
font-family : "Century Gothic" , sans-serif;
background-color :#BC8F8F;



}

.proj{
width : 350px;
background :rgba(0,0,0,0.3);
padding:30px;
text-align: center;
margin: auto;
margin-top :5%;
color : black;
font-family : "Century Gothic" , sans-serif;
background-color :#BC8F8F;
}
.edu{
width : 350px;
background :rgba(0,0,0,0.3);
padding:30px;
text-align: center;
margin: auto;
margin-top :5%;
color : black;
font-family : "Century Gothic" , sans-serif;
background-color :#BC8F8F;
}
.box-img h1{
animation-delay:3s;
}



.box-img{
 animation-delay:2s;

border-radius :50%;
width :200px;
height :200px;
}s

 
.box h1{
font-size: 40px;
letter-spacing:4px;
font-weight:100;
}
.box h5{
font-size:25px;
letter-spacing:3px;
}

social-icons {
	background-color : #454545;
	width :300px;
	height: 100px;
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}
